html {
  background-color: lightcyan;
}

h1 {
  font-family: Consolas, "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: 2px 1px rgb(8, 253, 0);
}

div.message {
  background-color: gainsboro;
  display: block;
  text-align: center;
  font-size: 1em;
  font-family: Consolas, "Courier New", Courier, monospace;
  border: 3px solid black;
  padding: 5px 5px;
}

.paragraph {
  width: 80%;
  padding-top: 10px;
  text-align: center;
  font-size: 1.1em;
}

.paragraph a {
  color: inherit;
  text-decoration: inherit;
}
.paragraph a:hover {
  cursor: text;
}
