html {
  background-color: rgb(69, 73, 90);
}

h1 {
  font-family: Consolas, "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: 2px 1px aqua;
}

div.message {
  background-color: rgb(255, 192, 203);
  display: block;
  text-align: center;
  font-size: 1em;
  font-family: Consolas, "Courier New", Courier, monospace;
  border: 3px solid black;
  padding: 5px 5px;
}

div.main-image {
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img1 {
  z-index: 1;
}

.img2 {
  position: relative;
  top: -27px;
  right: 50%;
}
